<p>Dear <%= @order.name %> </p>
<p>Administration Pragmatic Store thanks you for your recent order.</p>
<p>You order next Items:</p>
<table>
<tr>
  <th>Count</th>
  <th>Product</th>
  <th>Price</th>
  <%= render @order.line_items -%>
</tr>
</table>

